.elementor-kit-7 {
	--e-global-color-primary: #3C4858;
	--e-global-color-secondary: #5B5B5B;
	--e-global-color-text: #454545;
	--e-global-color-accent: #063775;
	--e-global-color-00f20b3: #FFD918;
	--e-global-typography-primary-font-family: "Montserrat";
	--e-global-typography-primary-font-weight: 600;
	--e-global-typography-secondary-font-family: "Montserrat";
	--e-global-typography-secondary-font-weight: 400;
	--e-global-typography-text-font-family: "Montserrat";
	--e-global-typography-text-font-weight: 400;
	--e-global-typography-accent-font-family: "Montserrat";
	--e-global-typography-accent-font-weight: 500;
	background-color: #FFFFFF;
}

.elementor-kit-7 e-page-transition {
	background-color: #FFBC7D;
}

.elementor-section.elementor-section-boxed>.elementor-container {
	max-width: 1140px;
}

.e-con {
	--container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
	--kit-widget-spacing: 20px;
}

.elementor-element {
	--widgets-spacing: 20px 20px;
	--widgets-spacing-row: 20px;
	--widgets-spacing-column: 20px;
}

/* {}s */

h1.entry-title {
	display: var(--page-title-display);
}

@media(max-width:1024px) {
	.elementor-section.elementor-section-boxed>.elementor-container {
		max-width: 1024px;
	}

	.e-con {
		--container-max-width: 1024px;
	}
}

@media(max-width:767px) {
	.elementor-section.elementor-section-boxed>.elementor-container {
		max-width: 767px;
	}

	.e-con {
		--container-max-width: 767px;
	}
}

.elementor-widget-section>.uael-party-propz-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-section>.uael-party-propz-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-1693 .elementor-element.elementor-element-80cc9d0 {
	padding: 60px 0px 60px 0px;
}

.elementor-widget-column>.uael-party-propz-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-column>.uael-party-propz-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-1693 .elementor-element.elementor-element-64edffa1 {
	padding: 0px 0px 0px 0px;
}

.elementor-widget-heading .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-heading .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-heading .elementor-heading-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-primary);
}

.elementor-widget-divider {
	--divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-divider .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-divider .elementor-divider__text {
	color: var(--e-global-color-secondary);
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
	color: var(--e-global-color-secondary);
	border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-secondary);
}

.elementor-1693 .elementor-element.elementor-element-426e7e40 {
	--divider-border-style: solid;
	--divider-color: #0067C2;
	--divider-border-width: 3.2px;
}

.elementor-1693 .elementor-element.elementor-element-426e7e40 .elementor-divider-separator {
	width: 25%;
}

.elementor-1693 .elementor-element.elementor-element-426e7e40 .elementor-divider {
	padding-block-start: 5px;
	padding-block-end: 5px;
}

.elementor-1693 .elementor-element.elementor-element-243bd6a .elementor-heading-title {
	font-weight: 700;
}

.elementor-widget-text-editor .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-text-editor .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-text-editor {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-1693 .elementor-element.elementor-element-66417750 {
	font-family: "Montserrat", Sans-serif;
	font-size: 16px;
}

.elementor-widget-image .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-image .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-1693 .elementor-element.elementor-element-1b154189 img {
	border-radius: 30px 30px 30px 30px;
	box-shadow: 5px 5px 5px 0px rgba(24.149997711181665, 24.149997711181665, 24.149997711181665, 0.21);
}

.elementor-1693 .elementor-element.elementor-element-580f97f {
	padding: 0px 0px 0px 0px;
}

.elementor-1693 .elementor-element.elementor-element-645b033 {
	text-align: center;
}

.elementor-1693 .elementor-element.elementor-element-17ec158 {
	text-align: center;
}

.elementor-1693 .elementor-element.elementor-element-17ec158 .elementor-heading-title {
	font-weight: 700;
}

.elementor-widget-toggle .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-toggle .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-toggle .elementor-toggle-title,
.elementor-widget-toggle .elementor-toggle-icon {
	color: var(--e-global-color-primary);
}

.elementor-widget-toggle .elementor-toggle-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-toggle .elementor-tab-title.elementor-active a,
.elementor-widget-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon {
	color: var(--e-global-color-accent);
}

.elementor-widget-toggle .elementor-toggle-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-toggle .elementor-tab-content {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-1693 .elementor-element.elementor-element-3100dd2 .elementor-toggle-title {
	font-family: "Montserrat", Sans-serif;
}

.elementor-1693 .elementor-element.elementor-element-dbab7fa {
	padding: 60px 0px 60px 0px;
}

.elementor-1693 .elementor-element.elementor-element-6eb4029 {
	text-align: center;
	font-family: "Montserrat", Sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.elementor-widget-button .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-button .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-button .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-1693 .elementor-element.elementor-element-9922d6c .elementor-button {
	background-color: var(--e-global-color-accent);
	font-weight: 600;
	padding: 20px 20px 20px 20px;
}

@media(max-width:1024px) {
	.elementor-1693 .elementor-element.elementor-element-80cc9d0 {
		padding: 20px 0px 20px 0px;
	}

	.elementor-bc-flex-widget .elementor-1693 .elementor-element.elementor-element-40e9c1b6.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-1693 .elementor-element.elementor-element-40e9c1b6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}
}

@media(max-width:767px) {
	.elementor-1693 .elementor-element.elementor-element-80cc9d0 {
		padding: 0px 0px 0px 0px;
	}

	.elementor-1693 .elementor-element.elementor-element-64edffa1 {
		padding: 10px 0px 10px 0px;
	}

	.elementor-1693 .elementor-element.elementor-element-243bd6a .elementor-heading-title {
		font-size: 34px;
	}

	.elementor-1693 .elementor-element.elementor-element-580f97f {
		padding: 30px 0px 0px 0px;
	}

	.elementor-1693 .elementor-element.elementor-element-f07e477 {
		padding: 0px 0px 0px 0px;
	}
}

.elementor-widget-section>.uael-party-propz-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-section>.uael-party-propz-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-118 .elementor-element.elementor-element-19ec9d89>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-118 .elementor-element.elementor-element-19ec9d89:not(.elementor-motion-effects-element-type-background),
.elementor-118 .elementor-element.elementor-element-19ec9d89>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-118 .elementor-element.elementor-element-19ec9d89 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-118 .elementor-element.elementor-element-19ec9d89>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-column>.uael-party-propz-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-column>.uael-party-propz-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-bc-flex-widget .elementor-118 .elementor-element.elementor-element-5973d23d.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-118 .elementor-element.elementor-element-5973d23d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-widget-image .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-image .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-118 .elementor-element.elementor-element-8e6d6d4 {
	text-align: left;
}

.elementor-118 .elementor-element.elementor-element-8e6d6d4 img {
	max-width: 100%;
}

.elementor-bc-flex-widget .elementor-118 .elementor-element.elementor-element-17cfac5d.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-118 .elementor-element.elementor-element-17cfac5d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-widget-nav-menu .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-nav-menu .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-text);
	fill: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-accent);
	fill: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
	border-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu {
	--e-nav-menu-divider-color: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-menu-toggle {
	margin-left: auto;
	background-color: #FFFFFF;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu .elementor-item {
	font-family: "Montserrat", Sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.8px;
	word-spacing: 4px;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--main .elementor-item {
	color: #353535;
	fill: #353535;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-menu-toggle {
	color: #393939;
	fill: #393939;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a:hover,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a:focus,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a.highlighted,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-menu-toggle:hover,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-menu-toggle:focus {
	color: #FFFFFF;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a:hover,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a:focus,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown a.highlighted {
	background-color: #295CBD;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown .elementor-item,
.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: "Montserrat", Sans-serif;
	font-weight: 500;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 div.elementor-menu-toggle {
	color: #01196F;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 div.elementor-menu-toggle svg {
	fill: #01196F;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 div.elementor-menu-toggle:hover,
.elementor-118 .elementor-element.elementor-element-7ec04a97 div.elementor-menu-toggle:focus {
	color: #F49300;
}

.elementor-118 .elementor-element.elementor-element-7ec04a97 div.elementor-menu-toggle:hover svg,
.elementor-118 .elementor-element.elementor-element-7ec04a97 div.elementor-menu-toggle:focus svg {
	fill: #F49300;
}

.elementor-theme-builder-content-area {
	height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
	content: "";
	display: table;
	clear: both;
}

@media(max-width:1024px) {
	.elementor-bc-flex-widget .elementor-118 .elementor-element.elementor-element-17cfac5d.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-118 .elementor-element.elementor-element-17cfac5d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-118 .elementor-element.elementor-element-7ec04a97 {
		--nav-menu-icon-size: 31px;
	}

	.elementor-118 .elementor-element.elementor-element-7ec04a97 .elementor-menu-toggle {
		border-radius: 0px;
	}
}

@media(min-width:768px) {
	.elementor-118 .elementor-element.elementor-element-5973d23d {
		width: 25.439%;
	}

	.elementor-118 .elementor-element.elementor-element-17cfac5d {
		width: 74.561%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-118 .elementor-element.elementor-element-5973d23d {
		width: 30%;
	}

	.elementor-118 .elementor-element.elementor-element-17cfac5d {
		width: 70%;
	}
}

@media(max-width:767px) {
	.elementor-118 .elementor-element.elementor-element-5973d23d {
		width: 50%;
	}

	.elementor-bc-flex-widget .elementor-118 .elementor-element.elementor-element-5973d23d.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-118 .elementor-element.elementor-element-5973d23d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-118 .elementor-element.elementor-element-17cfac5d {
		width: 50%;
	}

	.elementor-bc-flex-widget .elementor-118 .elementor-element.elementor-element-17cfac5d.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-118 .elementor-element.elementor-element-17cfac5d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}
}

.elementor-widget-section>.uael-party-propz-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-section>.uael-party-propz-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-133 .elementor-element.elementor-element-8c5e3c1 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 30px 30px 30px 30px;
	z-index: 10;
}

.elementor-133 .elementor-element.elementor-element-8c5e3c1>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-column>.uael-party-propz-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-column>.uael-party-propz-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-133 .elementor-element.elementor-element-ad14ff8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-133 .elementor-element.elementor-element-ad14ff8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-133 .elementor-element.elementor-element-ad14ff8>.elementor-element-populated,
.elementor-133 .elementor-element.elementor-element-ad14ff8>.elementor-element-populated>.elementor-background-overlay,
.elementor-133 .elementor-element.elementor-element-ad14ff8>.elementor-background-slideshow {
	border-radius: 10px 10px 10px 10px;
}

.elementor-133 .elementor-element.elementor-element-ad14ff8>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 30px 30px 30px 30px;
}

.elementor-133 .elementor-element.elementor-element-ad14ff8>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-133 .elementor-element.elementor-element-feff27a .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
	padding: 21px;
}

.elementor-133 .elementor-element.elementor-element-ede4b43:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-133 .elementor-element.elementor-element-ede4b43>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #001c38;
}

.elementor-133 .elementor-element.elementor-element-ede4b43>.elementor-element-populated,
.elementor-133 .elementor-element.elementor-element-ede4b43>.elementor-element-populated>.elementor-background-overlay,
.elementor-133 .elementor-element.elementor-element-ede4b43>.elementor-background-slideshow {
	border-radius: 10px 10px 10px 10px;
}

.elementor-133 .elementor-element.elementor-element-ede4b43>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-133 .elementor-element.elementor-element-ede4b43>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-heading .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-heading .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-heading .elementor-heading-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-primary);
}

.elementor-133 .elementor-element.elementor-element-601f4aa .elementor-heading-title {
	color: #FFFFFF;
}

.elementor-widget-icon-list .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
	border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
	color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-133 .elementor-element.elementor-element-aec1e33 .elementor-icon-list-icon i {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-133 .elementor-element.elementor-element-aec1e33 .elementor-icon-list-icon svg {
	fill: #FFFFFF;
	transition: fill 0.3s;
}

.elementor-133 .elementor-element.elementor-element-aec1e33 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-133 .elementor-element.elementor-element-aec1e33 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-widget-image .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-image .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-133 .elementor-element.elementor-element-f73a2c5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	--kit-widget-spacing: 5px;
}

.elementor-widget-divider {
	--divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-divider .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-divider .elementor-divider__text {
	color: var(--e-global-color-secondary);
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
	color: var(--e-global-color-secondary);
	border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-secondary);
}

.elementor-133 .elementor-element.elementor-element-3bb134e {
	--divider-border-style: solid;
	--divider-color: #000;
	--divider-border-width: 1px;
}

.elementor-133 .elementor-element.elementor-element-3bb134e .elementor-divider-separator {
	width: 60%;
}

.elementor-133 .elementor-element.elementor-element-3bb134e .elementor-divider {
	padding-block-start: 15px;
	padding-block-end: 15px;
}

.elementor-widget-uael-marketing-button a.elementor-button {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-uael-marketing-button a.elementor-button:hover {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-uael-marketing-button .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-uael-marketing-button .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-uael-marketing-button .uael-marketing-button-title {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-uael-marketing-button .uael-marketing-button .uael-marketing-button-desc {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-133 .elementor-element.elementor-element-d9c71da .elementor-button .elementor-button-icon {
	font-size: 29px;
}

.elementor-133 .elementor-element.elementor-element-d9c71da .elementor-button .elementor-button-icon svg {
	height: 29px;
	width: 29px;
}

.elementor-133 .elementor-element.elementor-element-d9c71da .elementor-align-icon-right,
.elementor-133 .elementor-element.elementor-element-d9c71da .uael-marketing-buttons-all_right.elementor-button .elementor-button-icon {
	margin-left: 10px;
}

.elementor-133 .elementor-element.elementor-element-d9c71da .elementor-align-icon-left,
.elementor-133 .elementor-element.elementor-element-d9c71da .uael-marketing-buttons-all_left.elementor-button .elementor-button-icon {
	margin-right: 10px;
}

.elementor-133 .elementor-element.elementor-element-d9c71da .elementor-button {
	padding: 15px 15px 15px 015px;
	border-radius: 6px 6px 6px 6px;
}

.elementor-133 .elementor-element.elementor-element-d9c71da a.elementor-button {
	background-color: #886746;
}

.elementor-133 .elementor-element.elementor-element-d9c71da .uael-marketing-button .elementor-button-content-wrapper {
	margin-bottom: 1px;
}

.elementor-133 .elementor-element.elementor-element-d9c71da {
	width: auto;
	max-width: auto;
}

.elementor-133 .elementor-element.elementor-element-d9c71da>.elementor-widget-container {
	margin: 10px 20px 20px 0px;
}

.elementor-133 .elementor-element.elementor-element-d9c71da .uael-marketing-button-title {
	font-size: 18px;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 .elementor-button .elementor-button-icon {
	font-size: 29px;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 .elementor-button .elementor-button-icon svg {
	height: 29px;
	width: 29px;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 .elementor-align-icon-right,
.elementor-133 .elementor-element.elementor-element-e64dc67 .uael-marketing-buttons-all_right.elementor-button .elementor-button-icon {
	margin-left: 10px;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 .elementor-align-icon-left,
.elementor-133 .elementor-element.elementor-element-e64dc67 .uael-marketing-buttons-all_left.elementor-button .elementor-button-icon {
	margin-right: 10px;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 .elementor-button {
	padding: 15px 15px 15px 015px;
	border-radius: 6px 6px 6px 6px;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 a.elementor-button {
	background-color: #046426;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 .uael-marketing-button .elementor-button-content-wrapper {
	margin-bottom: 1px;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 {
	width: auto;
	max-width: auto;
}

.elementor-133 .elementor-element.elementor-element-e64dc67>.elementor-widget-container {
	margin: 10px 20px 20px 0px;
}

.elementor-133 .elementor-element.elementor-element-e64dc67 .uael-marketing-button-title {
	font-size: 18px;
}

.elementor-133 .elementor-element.elementor-element-0c173e8 {
	--divider-border-style: solid;
	--divider-color: #000;
	--divider-border-width: 1px;
}

.elementor-133 .elementor-element.elementor-element-0c173e8 .elementor-divider-separator {
	width: 60%;
}

.elementor-133 .elementor-element.elementor-element-0c173e8 .elementor-divider {
	padding-block-start: 15px;
	padding-block-end: 15px;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 .elementor-button .elementor-button-icon {
	font-size: 20px;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 .elementor-button .elementor-button-icon svg {
	height: 20px;
	width: 20px;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 .elementor-align-icon-right,
.elementor-133 .elementor-element.elementor-element-66dd6a2 .uael-marketing-buttons-all_right.elementor-button .elementor-button-icon {
	margin-left: 10px;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 .elementor-align-icon-left,
.elementor-133 .elementor-element.elementor-element-66dd6a2 .uael-marketing-buttons-all_left.elementor-button .elementor-button-icon {
	margin-right: 10px;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 .elementor-button {
	padding: 10px 12px 10px 012px;
	border-radius: 6px 6px 6px 6px;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 a.elementor-button {
	background-color: #555555;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 .uael-marketing-button .elementor-button-content-wrapper {
	margin-bottom: 1px;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 {
	width: auto;
	max-width: auto;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2>.elementor-widget-container {
	margin: 10px 22px 10px 0px;
}

.elementor-133 .elementor-element.elementor-element-66dd6a2 .uael-marketing-button-title {
	font-size: 17px;
}

.elementor-133 .elementor-element.elementor-element-734764f .elementor-button .elementor-button-icon {
	font-size: 20px;
}

.elementor-133 .elementor-element.elementor-element-734764f .elementor-button .elementor-button-icon svg {
	height: 20px;
	width: 20px;
}

.elementor-133 .elementor-element.elementor-element-734764f .elementor-align-icon-right,
.elementor-133 .elementor-element.elementor-element-734764f .uael-marketing-buttons-all_right.elementor-button .elementor-button-icon {
	margin-left: 10px;
}

.elementor-133 .elementor-element.elementor-element-734764f .elementor-align-icon-left,
.elementor-133 .elementor-element.elementor-element-734764f .uael-marketing-buttons-all_left.elementor-button .elementor-button-icon {
	margin-right: 10px;
}

.elementor-133 .elementor-element.elementor-element-734764f .elementor-button {
	padding: 10px 12px 10px 012px;
	border-radius: 6px 6px 6px 6px;
}

.elementor-133 .elementor-element.elementor-element-734764f a.elementor-button {
	background-color: #001c38;
}

.elementor-133 .elementor-element.elementor-element-734764f .uael-marketing-button .elementor-button-content-wrapper {
	margin-bottom: 1px;
}

.elementor-133 .elementor-element.elementor-element-734764f {
	width: auto;
	max-width: auto;
}

.elementor-133 .elementor-element.elementor-element-734764f>.elementor-widget-container {
	margin: 10px 22px 10px 0px;
}

.elementor-133 .elementor-element.elementor-element-734764f .uael-marketing-button-title {
	font-size: 17px;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 .elementor-button .elementor-button-icon {
	font-size: 20px;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 .elementor-button .elementor-button-icon svg {
	height: 20px;
	width: 20px;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 .elementor-align-icon-right,
.elementor-133 .elementor-element.elementor-element-d4a5686 .uael-marketing-buttons-all_right.elementor-button .elementor-button-icon {
	margin-left: 10px;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 .elementor-align-icon-left,
.elementor-133 .elementor-element.elementor-element-d4a5686 .uael-marketing-buttons-all_left.elementor-button .elementor-button-icon {
	margin-right: 10px;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 .elementor-button {
	padding: 10px 12px 10px 012px;
	border-radius: 6px 6px 6px 6px;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 a.elementor-button {
	background-color: #000A66;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 .uael-marketing-button .elementor-button-content-wrapper {
	margin-bottom: 1px;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 {
	width: auto;
	max-width: auto;
}

.elementor-133 .elementor-element.elementor-element-d4a5686>.elementor-widget-container {
	margin: 10px 22px 10px 0px;
}

.elementor-133 .elementor-element.elementor-element-d4a5686 .uael-marketing-button-title {
	font-size: 17px;
}

.elementor-133 .elementor-element.elementor-element-2e2ba006:not(.elementor-motion-effects-element-type-background),
.elementor-133 .elementor-element.elementor-element-2e2ba006>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #001c38;
}

.elementor-133 .elementor-element.elementor-element-2e2ba006 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: -119px;
	margin-bottom: 0px;
	padding: 120px 0px 70px 0px;
}

.elementor-133 .elementor-element.elementor-element-2e2ba006>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-133 .elementor-element.elementor-element-276370d1.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-133 .elementor-element.elementor-element-276370d1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-133 .elementor-element.elementor-element-276370d1>.elementor-element-populated {
	margin: 0px 80px 0px 0px;
	--e-column-margin-right: 80px;
	--e-column-margin-left: 0px;
}

.elementor-133 .elementor-element.elementor-element-973a43c {
	text-align: left;
}

.elementor-133 .elementor-element.elementor-element-973a43c .elementor-heading-title {
	font-size: 18px;
	font-weight: 500;
	color: var(--e-global-color-00f20b3);
}

.elementor-133 .elementor-element.elementor-element-556d517 .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-133 .elementor-element.elementor-element-556d517 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-133 .elementor-element.elementor-element-556d517 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-133 .elementor-element.elementor-element-556d517 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-133 .elementor-element.elementor-element-556d517 .elementor-icon-list-item>a {
	font-size: 14px;
	font-weight: 400;
}

.elementor-133 .elementor-element.elementor-element-556d517 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-133 .elementor-element.elementor-element-f6286ed .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-block-end: calc(14px/2);
}

.elementor-133 .elementor-element.elementor-element-f6286ed .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-block-start: calc(14px/2);
}

.elementor-133 .elementor-element.elementor-element-f6286ed .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-inline: calc(14px/2);
}

.elementor-133 .elementor-element.elementor-element-f6286ed .elementor-icon-list-items.elementor-inline-items {
	margin-inline: calc(-14px/2);
}

.elementor-133 .elementor-element.elementor-element-f6286ed .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	inset-inline-end: calc(-14px/2);
}

.elementor-133 .elementor-element.elementor-element-f6286ed .elementor-icon-list-icon i {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-133 .elementor-element.elementor-element-f6286ed .elementor-icon-list-icon svg {
	fill: #FFFFFF;
	transition: fill 0.3s;
}

.elementor-133 .elementor-element.elementor-element-f6286ed {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-133 .elementor-element.elementor-element-f6286ed .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-133 .elementor-element.elementor-element-1ebe440b.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-133 .elementor-element.elementor-element-1ebe440b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-133 .elementor-element.elementor-element-a982832 {
	text-align: left;
}

.elementor-133 .elementor-element.elementor-element-a982832 .elementor-heading-title {
	font-size: 18px;
	font-weight: 500;
	color: var(--e-global-color-00f20b3);
}

.elementor-133 .elementor-element.elementor-element-9fdedb7 .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-133 .elementor-element.elementor-element-9fdedb7 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-133 .elementor-element.elementor-element-9fdedb7 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-133 .elementor-element.elementor-element-9fdedb7 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-133 .elementor-element.elementor-element-9fdedb7 .elementor-icon-list-item>a {
	font-size: 14px;
	font-weight: 400;
}

.elementor-133 .elementor-element.elementor-element-9fdedb7 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-133 .elementor-element.elementor-element-59e1037a.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-133 .elementor-element.elementor-element-59e1037a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-133 .elementor-element.elementor-element-7c147133 {
	text-align: left;
}

.elementor-133 .elementor-element.elementor-element-7c147133 .elementor-heading-title {
	font-size: 18px;
	font-weight: 500;
	color: var(--e-global-color-00f20b3);
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-block-end: calc(10px/2);
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-block-start: calc(10px/2);
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-inline: calc(10px/2);
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-items.elementor-inline-items {
	margin-inline: calc(-10px/2);
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	inset-inline-end: calc(-10px/2);
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd {
	--e-icon-list-icon-size: 0px;
	--icon-vertical-offset: 0px;
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-icon {
	padding-inline-end: 0px;
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-item>a {
	font-size: 14px;
	font-weight: 300;
}

.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-133 .elementor-element.elementor-element-70240879>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-133 .elementor-element.elementor-element-70240879:not(.elementor-motion-effects-element-type-background),
.elementor-133 .elementor-element.elementor-element-70240879>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #001c38;
}

.elementor-133 .elementor-element.elementor-element-70240879>.elementor-container {
	min-height: 50px;
}

.elementor-133 .elementor-element.elementor-element-70240879 {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: rgba(255, 255, 255, 0.19);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-133 .elementor-element.elementor-element-70240879>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-133 .elementor-element.elementor-element-2076ff7f.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-133 .elementor-element.elementor-element-2076ff7f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-133 .elementor-element.elementor-element-2076ff7f>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
}

.elementor-widget-social-icons .uael-party-propz-widget-wrap i {
	color: var(--e-global-color-primary);
}

.elementor-widget-social-icons .uael-party-propz-widget-wrap svg {
	fill: var(--e-global-color-primary);
}

.elementor-133 .elementor-element.elementor-element-88c19d7 {
	--grid-template-columns: repeat(0, auto);
	text-align: left;
	padding: 0px 0px 0px 0px;
	--icon-size: 12px;
	--grid-column-gap: 9px;
	--grid-row-gap: 0px;
}

.elementor-133 .elementor-element.elementor-element-88c19d7 .elementor-social-icon {
	background-color: rgba(255, 255, 255, 0.21);
	--icon-padding: 0.6em;
}

.elementor-133 .elementor-element.elementor-element-88c19d7 .elementor-social-icon i {
	color: #ffffff;
}

.elementor-133 .elementor-element.elementor-element-88c19d7 .elementor-social-icon svg {
	fill: #ffffff;
}

.elementor-133 .elementor-element.elementor-element-88c19d7 .elementor-social-icon:hover {
	background-color: #ffffff;
}

.elementor-133 .elementor-element.elementor-element-88c19d7 .elementor-social-icon:hover i {
	color: #001c38;
}

.elementor-133 .elementor-element.elementor-element-88c19d7 .elementor-social-icon:hover svg {
	fill: #001c38;
}

.elementor-133 .elementor-element.elementor-element-69e2de53 {
	text-align: right;
}

.elementor-133 .elementor-element.elementor-element-69e2de53 .elementor-heading-title {
	font-size: 14px;
	font-weight: 300;
	color: #adadad;
}

.elementor-theme-builder-content-area {
	height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
	content: "";
	display: table;
	clear: both;
}

@media(min-width:768px) {
	.elementor-133 .elementor-element.elementor-element-ede4b43 {
		width: 35.648%;
	}

	.elementor-133 .elementor-element.elementor-element-f73a2c5 {
		width: 64.352%;
	}

	.elementor-133 .elementor-element.elementor-element-2076ff7f {
		width: 60.945%;
	}

	.elementor-133 .elementor-element.elementor-element-7d038c57 {
		width: 39.008%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-133 .elementor-element.elementor-element-276370d1 {
		width: 35%;
	}

	.elementor-133 .elementor-element.elementor-element-1ebe440b {
		width: 20%;
	}

	.elementor-133 .elementor-element.elementor-element-59e1037a {
		width: 20%;
	}
}

@media(max-width:1024px) {
	.elementor-133 .elementor-element.elementor-element-2e2ba006 {
		padding: 50px 20px 50px 20px;
	}

	.elementor-133 .elementor-element.elementor-element-276370d1>.elementor-element-populated {
		margin: 0% 15% 0% 0%;
		--e-column-margin-right: 15%;
		--e-column-margin-left: 0%;
	}

	.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-item>a {
		font-size: 13px;
	}

	.elementor-133 .elementor-element.elementor-element-70240879 {
		padding: 10px 20px 10px 20px;
	}

	.elementor-133 .elementor-element.elementor-element-88c19d7 {
		--icon-size: 10px;
	}
}

@media(max-width:767px) {
	.elementor-133 .elementor-element.elementor-element-8c5e3c1 {
		padding: 0px 0px 0px 0px;
	}

	.elementor-133 .elementor-element.elementor-element-ad14ff8>.elementor-element-populated {
		padding: 10px 10px 10px 10px;
	}

	.elementor-133 .elementor-element.elementor-element-f73a2c5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		--kit-widget-spacing: 10px;
	}

	.elementor-133 .elementor-element.elementor-element-2e2ba006 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 35px 20px 35px 20px;
	}

	.elementor-133 .elementor-element.elementor-element-276370d1>.elementor-element-populated {
		margin: 0px 0px 50px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-133 .elementor-element.elementor-element-973a43c {
		text-align: left;
	}

	.elementor-133 .elementor-element.elementor-element-1ebe440b {
		width: 100%;
	}

	.elementor-133 .elementor-element.elementor-element-1ebe440b>.elementor-element-populated {
		padding: 0px 0px 30px 0px;
	}

	.elementor-133 .elementor-element.elementor-element-a982832 {
		text-align: left;
	}

	.elementor-133 .elementor-element.elementor-element-59e1037a {
		width: 100%;
	}

	.elementor-133 .elementor-element.elementor-element-59e1037a>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-133 .elementor-element.elementor-element-7c147133 {
		text-align: left;
	}

	.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-133 .elementor-element.elementor-element-2c2b48fd .elementor-icon-list-item>a {
		font-size: 13px;
	}

	.elementor-133 .elementor-element.elementor-element-70240879 {
		padding: 30px 20px 20px 20px;
	}

	.elementor-133 .elementor-element.elementor-element-2076ff7f>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-133 .elementor-element.elementor-element-88c19d7 {
		text-align: center;
	}

	.elementor-133 .elementor-element.elementor-element-69e2de53 {
		text-align: center;
	}
}

